ul {
  margin: 0;
  padding: 0;
}
li {
  background: greenyellow;
  font-size: 45px;
  display: inline;
  float: left;
  padding: 20px;
  margin: 5px;
  position: relative;
  transition: 0.7s;
}
li a {
  color: red;
  text-decoration: none;
}
li:hover {
  background: #c8c4c4;
  cursor: pointer;
}
ul li ul {
  background: yellowgreen;
  font-size: xx-small;
  min-width: 100px;
  position: absolute;
  margin-top: 22px;
  left: 0px;
  display: none;
}

ul li ul li {
  width: 100%;
  margin: 0;
  position: static;
}

ul li ul li ul {
  background: yellowgreen;
  min-width: 100px;
  position: absolute;
  margin-top: -45px;
  left: 250px;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  display: block;
}

.boxy {
  font-size: 30px;
  width: 850px;
  height: 250px;
  background-color: blueviolet;
  border: 15px solid black;
  border-radius: 15%;
  position: fixed;
  bottom: 10px;
}

nav {
  top: 0;
  position: fixed;
}
